.filterPanel .row-dash {
    position: absolute;
    right: -4px;
    top: 7px;
}

.filterPanel .buttons {
    margin-bottom: 15px;
}

@media screen and (min-width: 1200px) {
    .filterPanel .buttons {
        padding: 0;
    }
}

@media screen and (max-width: 575px) {
    .filterPanel .row-dash {
        display: none;
    }
}
